doctype html
html(class="no-js", lang="ru")

		include ../components/head/head
		include ../components/headerv/headerv
		include ../components/verifier-management/verifier-management
		include ../components/footer/footer

		head
				+head(head.defaults)
		body.page
				|%=symbols=%

				section.page__wrapper

					//- Include your components here
					+headerv()
					section.verifa-sec 
						.container
							+verifier-management()
							h2.verifa-sec__title Ваша работа  

					section.your-work
						.container
							p.your-work__maintext 
								b Приступите к верификации.
								| Скачайте один из документов в разделе, нажав на кнопку «Получить пакет». Один пакет «весит» в среднем 
								i 20 МБ.
								| Скачанный пакет отобразится в таблице и ему будет присвоен статус «В работе». Обратите внимание, что вы 
								i можете проверять одновременно только один пакет. <br>
								b Проверьте пакет, 
									a(href="#").your-work__link следуя инструкции. <br>
								| Мы просим вас очень внимательно вычитывать текст. Проверенный текст должен на 100% соответствовать оригиналу. На проверку вам отводится 
								i 48 часов. 
								br
								| Вычитанный вами пакет в течение 5 (пяти) рабочих дней будет проверен администратором, который удостоверится, что вы не допустили большого количества ошибок и правильно сохранили пакет. За правильно распознанный пакет участник получает 5 баллов. Если пакет отклонен, у участника вычитают 10 баллов. 

					.get-packet
							.container.get-packet__container
								p.get-packet__text Вы можете взять пакет на проверку.
								a.get-packet__btn(href="#").btn.btn_header.btn_how-begin Получить пакет
					.status
						.container
							.status-line.status-line_head
								.status-col1
								.status-col2
									| Номер пакета
								.status-col3
									| Тип
								.status-col4
									| Статус
							.status-line
								.status-col1
									!= jadeHelpers.Icon.call(locals, {iconName: 'clocks2', className: ''})
								.status-col2
									span 121454513213121  
								.status-col3
									span верификация
								.status-col4
									span в работе
							.status-line
								.status-col1
									!= jadeHelpers.Icon.call(locals, {iconName: 'tocheck2', className: ''})
								.status-col2 
									span 121454513213121
								.status-col3
									span вычитка
								.status-col4
									span на проверке
							.status-line
								.status-col1
									!= jadeHelpers.Icon.call(locals, {iconName: 'adopted', className: ''})
								.status-col2
									span 121454513213121
								.status-col3
									span верификация
								.status-col4
									span принят
							.status-line 
								.status-col1
									!= jadeHelpers.Icon.call(locals, {iconName: 'cancel', className: ''})
								.status-col2
									span 121454513213121
								.status-col3
									span вычитка
								.status-col4
									span отклонен


					.page__buffer

				.page__footer
						+footer()
				.window-wrap#login
					form.forma(action='#')
						
						input.forma__inpt#emlail(type='email', placeholder='Электронная почта *')
						input.forma__inpt#pass(type='text', placeholder='Пароль *')
						

						.soc-wide-login.nopad
							p 
								a(href="#restore_password").js-fansibox.forma__link  Я забыл пароль
							button.forma__send.btn Войти
							p
							p.soc-wide-login__text Зарегистрироваться с помощью:
							.soc-wide-login__wrap 
								a(href="#").soc-wide-login__item 
									!= jadeHelpers.Icon.call(locals, {iconName: 'vk', className: 'soc-wide-login__vk'})
								a(href="#").soc-wide-login__item 
									!= jadeHelpers.Icon.call(locals, {iconName: 'ok', className: 'soc-wide-login__ok'})
								a(href="#").soc-wide-login__item 
									!= jadeHelpers.Icon.call(locals, {iconName: 'mail', className: 'soc-wide-login__mail'})	
								a(href="#").soc-wide-login__item 
									!= jadeHelpers.Icon.call(locals, {iconName: 'fb', className: 'soc-wide-login__fb'})
							p
							p 
								a(href="#login").js-fansibox.forma__link Зарегистрироваться

				.window-wrap#restore_password
					form.forma(action='#')
						
						input#emlail2.forma__inpt(type='email', placeholder='Электронная почта *')
						input#pass2.forma__inpt(type='text', placeholder='Пароль *')
						

						.soc-wide-login.nopad
							button.forma__send.btn Отправить пароль
							button.forma__send.btn Войти
							p
							p.soc-wide-login__text Зарегистрироваться с помощью:
							.soc-wide-login__wrap 
								a(href="#").soc-wide-login__item 
									!= jadeHelpers.Icon.call(locals, {iconName: 'vk', className: 'soc-wide-login__vk'})
								a(href="#").soc-wide-login__item 
									!= jadeHelpers.Icon.call(locals, {iconName: 'ok', className: 'soc-wide-login__ok'})
								a(href="#").soc-wide-login__item 
									!= jadeHelpers.Icon.call(locals, {iconName: 'mail', className: 'soc-wide-login__mail'})
								a.soc-wide-login__item(href="#")  
									!= jadeHelpers.Icon.call(locals, {iconName: 'fb', className: 'soc-wide-login__fb'})
							p
							p 
								a(href="#login").js-fansibox.forma__link Зарегистрироваться				
						
				.window-wrap#join
					form.forma(action='#')
						p.forma__notif Заполняя эту форму, вы соглашаетесь c 
							a(href="#agree").js-fansibox.forma__agree условиями
							|  обработки персональных данных
						input#fio.forma__inpt.forma__inpt_error(type='text', placeholder='ФИО *')
						input#eml21.forma__inpt(type='email', placeholder='Электронная почта *')
						input#country.forma__inpt(type='text', placeholder='Cтрана *')
						input#town.forma__inpt(type='text', placeholder='Город *')
						input#phone3.forma__inpt(type='tel', placeholder='Телефон')
 
						.filter__checkbox
							input.filter__chboxhide(type='checkbox', name='subsc', id="sub")
							label.filter__labl#igra2(for='sub') 
							span.filter__textchbox#ch1 Подписка на новости
						.filter__checkbox
							input.filter__chboxhide(type='checkbox', name='participation', id="participation")
							label.filter__labl#parti_label(for='participation') 
							span.filter__textchbox#ch2 Согласен с Условиями участия*  
							
						button.forma__send.btn Присоединиться

						.soc-wide-login
							p.soc-wide-login__text Зарегистрироваться с помощью:
							.soc-wide-login__wrap 
								a(href="#").soc-wide-login__item 
									!= jadeHelpers.Icon.call(locals, {iconName: 'vk', className: 'soc-wide-login__vk'})
								a(href="#").soc-wide-login__item 
									!= jadeHelpers.Icon.call(locals, {iconName: 'ok', className: 'soc-wide-login__ok'})
								a(href="#").soc-wide-login__item 
									!= jadeHelpers.Icon.call(locals, {iconName: 'mail', className: 'soc-wide-login__mail'})	
								a(href="#").soc-wide-login__item 
									!= jadeHelpers.Icon.call(locals, {iconName: 'fb', className: 'soc-wide-login__fb'})		
						
						

				.window-wrap#agree  
					a(href="#join").js-fansibox Назад
					p Компания ABBYY означает:
						<br>
						| ООО «Аби», 127273, г. Москва, ул. Отрадная, дом 2Б, строение 6, офис 12, для корреспонденции: 127273, а/я 32
						| Участник проекта, регистрируясь на сайте проекта, дат свое добровольное согласие на сбор, накопление, хранение, обработку, проверку, уточнение, обезличивание, уничтожение своих персональных данных на любом этапе конкурса с использованием средств автоматизации или без таковых в соответствии с ФЗ «О персональных данных».
						<br> 
						| Оргкомитет проекта собирает, накапливает, хранит, обрабатывает, проверяет, уточняет, обезличивает и уничтожает персональные данные исключительно в целях организации и проведения проекта. Персональные данные участников, полученные в ходе проведения проекта, не будут использованы в иных целях или переданы третьим лицам. Данное согласие действует  до 31 декабря 2018 года.
						<br>
						| Участник проекта может отозвать свое согласие на совершение всех вышеуказанных действий в любой момент, но при этом он перестает участвовать в проекте.
					
				.window-wrap.window-wrap__center#thanks
					h3.window-wrap__title Спасибо за регистрацию!
					p Вы успешно зарегистрировались! Все подробности мы отправим отдельным письмом во время старта проекта.

					// Google Tag Manager
					noscript
						iframe(src='//www.googletagmanager.com/ns.html?id=GTM-WQBZMV', height='0', width='0', style='display:none;visibility:hidden')
					script.
						(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
						new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
						j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
						'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
						})(window,document,'script','dataLayer','GTM-WQBZMV');
					// End Google Tag Manager

				script(src='%=static=%js/separate-js/svg4everybody.min.js')
				script svg4everybody();

				//- Main scripts. You can replace it, but I recommend you to leave it here
				script(src='%=static=%js/main%=hash=%%=min=%.js')