mixin footer(data)
		footer.footer
			.container.footer__container
				.footer__texts
					p.footer__orga Оргкомитет: 
					p.footer__paragraf  
						| +7 (495) 783-37-00  <br>
						a(href="bolshoi@abbyy.ru").footer__mail bolshoi@abbyy.ru 
					p.footer__copyr © 2016 ABBYY. Все права защищены.
				.header__right-socials.header__right-socials_footer
					a.header__soc-item.header__soc-item_fb(href='https://www.facebook.com/openbolshoi/', rel="nofollow noopener", target="_blank") 
							img.header__soc-pic-fb(src="%=static=%img/general/fb.svg", alt="facebook") 
					a.header__soc-item.header__soc-item_vk(href='https://vk.com/openbolshoi', rel="nofollow noopener", target="_blank") 
							img.header__soc-pic-vk(src="%=static=%img/general/vk.svg", alt="Vk")